<!DOCTYPE html>
<html>
<head>
  <title>Commentor</title>
  <meta charset="utf-8">

  <link href="{{ reverse("static", "css/screen.css") }}" media="screen,projection,tv" rel="stylesheet" type="text/css">

  <script src="{{ reverse("static", "vendor/underscore-1.5.2.min.js") }}" type="application/javascript"></script>
  <script src="{{ reverse("static", "vendor/zepto-1.0.min.js") }}" type="application/javascript"></script>
  <script src="{{ reverse("static", "js/commentor.js") }}" type="application/javascript"></script>

  <script id="js-comments-template" type="text/template">
    <% if (comments.length == 1) { %>
      <h2>One latest comment</h2>
    <% } else if (comments.length) { %>
      <h2><%= comments.length %> latest comments</h2>
    <% } else { %>
      <p>No comments added. Be first one!</p>
    <% } %>
    <% if (comments.length) { %>
      <dl class="comments">
      <% _.each(comments, function(comment) { %>
        <dt>
          <%= comment.author %> at <time datetime="<%= comment.datetime %>"><%= comment.datetime %></time>
        </dt>
        <dd><%= comment.text %></dd>
      <% }); %>
      </dl>
    <% } %>
  </script>
</head>

<body>

  <div class="container">
    <h1>Commentor</h1>
    <hr>
    <div class="comments-container" id="js-comments"></div>
    <div class="error" id="js-error"></div>
    <hr>
    <form action="" method="post">
      <fieldset>
        <legend>Add new comment</legend>
        <div>
          <label for="author">Your name:</label><br>
          <input autocomplete="off" id="author" name="author" size="80" type="text">
          <div class="error"></div>
        </div>
        <p>
          <label for="text">Comment:</label><br>
          <textarea name="text" id="text" cols="80" rows="5"></textarea>
          <div class="error"></div>
        </p>
        <p>
          <button type="submit">Submit</button>
        </p>
      </fieldset>
    </form>
  </div>

  <script type="text/javascript">
    Zepto(function($) {
      commentorApp({
        "addCommentUrl": "{{ reverse("api_add_comment") }}",
        "getCommentsUrl": "{{ reverse("api_get_comments") }}",
        "limit": {{ settings.COMMENTS_PER_PAGE }}
      });
    });
  </script>

</body>

</html>
