<!DOCTYPE html>
<html>
<head>
  <title>Star Wars</title>
  <meta charset="utf-8">
  <link href="{{ reverse("static", "css/return_of_the_jedi.css") }}" media="screen,projection,tv" rel="stylesheet" type="text/css">
</head>

<body>

  <h1><a href="{{ reverse("index") }}">Star Wars</a></h1>
  <h2>Episode VI: Return of the Jedi</h2>
  <hr>
  <p>Star Wars Episode VI: Return of the Jedi (also known as Return of the Jedi) is a 1983 American epic space opera film directed by Richard Marquand and written by George Lucas and Lawrence Kasdan, with Lucas as executive producer. It is chronologically the sixth film in the Star Wars franchise and the first film to use THX technology. The film is set approximately one year after The Empire Strikes Back.[2] The evil Galactic Empire, under the direction of the ruthless Emperor Palpatine, is building a second Death Star in order to crush the Rebel Alliance. Since Emperor Palpatine plans to personally oversee the final stages of its construction, the Rebel Fleet launches a full-scale attack on the Death Star in order to prevent its completion and kill Palpatine, effectively bringing an end to the Empire. Meanwhile, Luke Skywalker, a Rebel leader and Jedi Knight, struggles to bring Vader, who is his father and himself a fallen Jedi, back from the Dark Side of the Force.</p>

  <p>David Lynch and David Cronenberg were considered to direct the project before Marquand signed on as director. The production team relied on Lucas' storyboards during pre-production. While writing the shooting script, Lucas, Kasdan, Marquand, and producer Howard Kazanjian spent two weeks in conference discussing ideas to construct it. Kazanjian's schedule pushed shooting to a few weeks earlier to allow Industrial Light & Magic to work on the film's effects in post-production. Filming took place in England, California, and Arizona from January to March 1982, with Lucas handling second unit work. Heavy secrecy surrounded production and the film was given the title Blue Harvest to prevent price gouging.</p>

  <p>The film was released in theaters on May 25, 1983, receiving mostly positive reviews. The film grossed over $475 million worldwide. Several home video and theatrical releases and revisions to the film followed over the next 20 years. Star Wars continued with Episode I: The Phantom Menace as part of the film series' prequel trilogy. A sequel, Star Wars Episode VII, was announced on October 30, 2012 and is planned for a 2015 release.[3]</p>

</body>
</html>
