default_language_version:
  python: "python3.10"
minimum_pre_commit_version: "1.17.0"
repos:
  - repo: "https://github.com/commitizen-tools/commitizen"
    rev: "v2.27.1"
    hooks:
      - id: "commitizen"
        # By default commitizen using `python3` instead `python` language, so
        # needed to provide concrete version here as well
        language_version: "python3.10"
        stages: ["commit-msg"]

  - repo: "https://github.com/PyCQA/isort"
    rev: "5.10.1"
    hooks:
      - id: "isort"
        name: "Format code (isort)"
        exclude: ^docs/.*$

  - repo: "https://github.com/psf/black"
    rev: "22.3.0"
    hooks:
      - id: "black"
        # By default black using `python3` instead `python` language, so
        # needed to provide concrete version here as well
        language_version: "python3.10"
        name: "Format code (black)"
        exclude: ^docs/.*$

  - repo: "https://github.com/asottile/blacken-docs"
    rev: "v1.12.1"
    hooks:
      - id: "blacken-docs"
        name: "Format docs (blacken-docs)"
        args: ["-l", "64"]
        additional_dependencies:
          - "black==22.3.0"

  - repo: "https://github.com/pre-commit/pre-commit-hooks"
    rev: "v4.3.0"
    hooks:
      - id: "end-of-file-fixer"
      - id: "trailing-whitespace"
      - id: "check-json"
      - id: "check-toml"
      - id: "check-yaml"

  - repo: "https://github.com/PyCQA/flake8"
    rev: "4.0.1"
    hooks:
      - id: "flake8"
        name: "Lint code (flake8)"
        additional_dependencies: &flake8_additional_dependencies
          - "flake8==4.0.1"
          - "flake8-broken-line==0.4.0"
          - "flake8-bugbear==22.4.25"
          - "flake8-builtins==1.5.3"
          - "flake8-comprehensions==3.10.0"
          - "flake8-eradicate==1.2.1"
          - "flake8-isort==4.1.1"
          - "flake8-mutable==1.2.0"
          - "flake8-pie==0.15.0"
          - "flake8-quotes==3.3.1"
          - "flake8-string-format==0.3.0"
          - "flake8-tidy-imports==4.8.0"
          - "flake8-variables-names==0.0.5"
          - "pep8-naming==0.13.0"
        exclude: ^docs/.*$

  - repo: "https://github.com/asottile/yesqa"
    rev: "v1.3.0"
    hooks:
      - id: yesqa
        name: "Lint code (yesqa)"
        additional_dependencies: *flake8_additional_dependencies
        exclude: ^docs/.*$

  - repo: "local"
    hooks:
      - id: "mypy"
        name: "Lint code (mypy)"
        entry: "./.venv/bin/mypy"
        language: "python"
        "types": ["python"]
        require_serial: true
        exclude: ^./docs/.*$
