default_language_version:
  python: &python_version "python3.10"
exclude: ^(archive|assets|migrations)/.*|.*/(migrations|test-data|vendor)/.*|.*\.svg$
minimum_pre_commit_version: "1.17.0"
repos:
  - repo: "https://github.com/commitizen-tools/commitizen"
    rev: "v2.35.0"
    hooks:
      - id: "commitizen"
        # By default commitizen using `python3` instead `python` language, so
        # needed to provide concrete version here as well
        language_version: *python_version
        stages: ["commit-msg"]

  - repo: "https://github.com/PyCQA/isort"
    rev: "5.10.1"
    hooks:
      - id: "isort"
        # By default isort using `python3` instead `python` language, so
        # needed to provide concrete version here as well
        language_version: *python_version
        name: "Format code (isort)"
        exclude: ^docs/.*$

  - repo: "https://github.com/psf/black"
    rev: "22.10.0"
    hooks:
      - id: "black"
        # By default black using `python3` instead `python` language, so
        # needed to provide concrete version here as well
        language_version: *python_version
        name: "Format code (black)"
        exclude: ^docs/.*$

  - repo: "https://github.com/asottile/blacken-docs"
    rev: "v1.12.1"
    hooks:
      - id: "blacken-docs"
        name: "Format docs (blacken-docs)"
        args: ["-l", "64"]
        additional_dependencies:
          - "black==22.10.0"

  - repo: "https://github.com/pre-commit/pre-commit-hooks"
    rev: "v4.3.0"
    hooks:
      - id: "end-of-file-fixer"
      - id: "trailing-whitespace"
      - id: "check-json"
      - id: "check-toml"
      - id: "check-yaml"

  - repo: "https://github.com/pre-commit/pygrep-hooks"
    rev: "v1.9.0"
    hooks:
      - id: "python-check-blanket-noqa"
      - id: "python-check-blanket-type-ignore"
      - id: "rst-backticks"
      - id: "rst-directive-colons"
      - id: "rst-inline-touching-normal"

  - repo: "https://github.com/PyCQA/flake8"
    rev: "5.0.4"
    hooks:
      - id: "flake8"
        name: "Lint code (flake8)"
        additional_dependencies: &flake8_additional_dependencies
          - "flake8==5.0.4"
          - "flake8-broken-line==0.6.0"
          - "flake8-bugbear==22.9.23"
          - "flake8-builtins==2.0.0"
          - "flake8-comprehensions==3.10.0"
          - "flake8-eradicate==1.4.0"
          - "flake8-isort==5.0.0"
          - "flake8-mutable==1.2.0"
          - "flake8-pie==0.16.0"
          - "flake8-quotes==3.3.1"
          - "flake8-string-format==0.3.0"
          - "flake8-tidy-imports==4.8.0"
          - "flake8-variables-names==0.0.5"
          - "pep8-naming==0.13.2"
        exclude: ^docs/.*$

  - repo: "https://github.com/asottile/yesqa"
    rev: "v1.4.0"
    hooks:
      - id: yesqa
        name: "Lint code (yesqa)"
        additional_dependencies: *flake8_additional_dependencies
        exclude: ^docs/.*$

  - repo: "local"
    hooks:
      - id: "mypy"
        name: "Lint code (mypy)"
        entry: "./.venv/bin/mypy"
        language: "python"
        "types": ["python"]
        require_serial: true
        exclude: ^(docs|migrations|tests)/.*$

  - repo: "https://github.com/shellcheck-py/shellcheck-py"
    rev: "v0.8.0.4"
    hooks:
      - id: "shellcheck"
        name: "Lint scripts (shellcheck)"
