<!DOCTYPE html>
<html>
<head>
  <title>Star Wars</title>
  <meta charset="utf-8">
  <link href="{{ reverse("static", "css/attack_of_the_clones.css") }}" media="screen,projection,tv" rel="stylesheet" type="text/css">
</head>

<body>

  <h1><a href="{{ reverse("index") }}">Star Wars</a></h1>
  <h2>Episode II: Attack of the Clones</h2>
  <hr>
  <p>Star Wars Episode II: Attack of the Clones is a 2002 American epic space opera film directed by George Lucas and written by Lucas and Jonathan Hales. It is the fifth film to be released in the Star Wars saga and the second in terms of the series's internal chronology. At 142 minutes, it is the longest film in the series.</p>

  <p>The film is set 10 years after the events in Star Wars Episode I: The Phantom Menace, when the galaxy is on the brink of civil war. Under the leadership of a renegade Jedi named Count Dooku, thousands of planetary systems threaten to secede from the Galactic Republic. When an assassination attempt is made on Senator Padmé Amidala, the former Queen of Naboo, Jedi apprentice Anakin Skywalker is assigned to protect her, while his mentor Obi-Wan Kenobi is assigned to investigate the assassination attempt. Soon, Anakin, Padmé, and Obi-Wan are drawn into the heart of the Separatist territories and the beginning of a new threat to the galaxy, the Clone Wars.</p>

  <p>Released on May 16, 2002, Attack of the Clones was one of the first motion pictures to be shot completely on a high definition digital 24-frame system. It garnered mostly mixed to positive reviews from critics[2] and was a financial success; however, it also became the first Star Wars film to be internationally out-grossed in its year of release.</p>

</body>
</html>
