<!DOCTYPE html>
<html>
<head>
  <title>Star Wars</title>
  <meta charset="utf-8">
  <link href="{{ reverse("static", "css/revenge_of_the_sith.css") }}" media="screen,projection,tv" rel="stylesheet" type="text/css">
</head>

<body>

  <h1><a href="{{ reverse("index") }}">Star Wars</a></h1>
  <h2>Episode III: Revenge of the Sith</h2>
  <hr>
  <p>Star Wars Episode III: Revenge of the Sith is a 2005 American epic space opera film written and directed by George Lucas. It is the sixth film released in the Star Wars saga and the third in terms of the series' chronology.</p>

  <p>The film takes place three years after the onset of the Clone Wars. The Jedi Knights are spread out across the galaxy leading a massive clone army in the war against the Separatists. The Jedi Council dispatches Jedi Master Obi-Wan Kenobi to eliminate the evil General Grievous, leader of the Separatist Army. Meanwhile, Jedi Knight Anakin Skywalker, separated from Kenobi, his former master, grows close to Palpatine, the Chancellor of the Galactic Republic and, unknown to the public, a Sith Lord. Their deepening friendship proves dangerous for the Jedi Order, the Republic, and Anakin himself who inevitably succumbs to the dark side of the Force and becomes Darth Vader, changing the fate of the galaxy forever.</p>

  <p>Lucas began writing the script before production of Star Wars Episode II: Attack of the Clones began. Filming took place in Australia with additional locations in Thailand and Italy, and lasted over three months. The film was released in theatres on May 19, 2005, and received generally positive reviews from critics, especially in contrast to the previous two prequels.</p>

  <p>It broke several box office records during its opening week and went on to earn over $848 million worldwide,[1] making it the second-highest-grossing film in the Star Wars franchise (not adjusting for inflation). It was the highest grossing film of 2005 in the U.S., and the second highest-grossing film of 2005 worldwide behind Harry Potter and the Goblet of Fire.[1]</p>

</body>
</html>
