<!DOCTYPE html>
<html>
<head>
  <title>Star Wars. Episode I: The Phantom Menace</title>
  <meta charset="utf-8">
  <link href="{{ reverse("static", "css/the_phantom_menace.css") }}" media="screen,projection,tv" rel="stylesheet" type="text/css">
</head>

<body>

  <h1><a href="{{ index_url }}">Star Wars</a></h1>
  <h2>Episode I: The Phantom Menace</h2>
  <hr>
  <p>Star Wars Episode I: The Phantom Menace is a 1999 American epic space opera film written and directed by George Lucas. It is the fourth film to be released in the Star Wars saga, as the first of a three-part prequel to the original Star Wars trilogy, as well as the first film in the saga in terms of story chronology. The film was also Lucas' first production as a film director after a 22-year hiatus following the original Star Wars film, and only his fourth overall.</p>

  <p>The film follows the Jedi Master Qui-Gon Jinn and his apprentice Obi-Wan Kenobi, who escort and protect Queen Amidala in traveling from the planet Naboo to the planet Coruscant in the hope of finding a peaceful end to a large-scale interplanetary trade dispute. It also features a young Anakin Skywalker before he became a Jedi, introduced as a young slave boy who seems to be unusually strong with nascent powers of The Force, and must contend with the mysterious return of the Sith.</p>

  <p>Lucas began production of this film after he had concluded that the science of film special effects had advanced to the level of what he wanted for his fourth film in the saga. Its filming took place during 1997 (started on June 26, 1997) at various locations including Leavesden Film Studios and the Tunisian desert. Its special effects included extensive use of computer-generated imagery (CGI), with some of its characters and its settings being completely computerized and not existing at all in the real world.</p>

  <p>The film premiered in theaters on May 19, 1999, sixteen years after the 1983 premiere of the previous Star Wars film, Return of the Jedi. The film's premiere was accompanied by considerable hype, extensive media coverage and great anticipation, due to the large cultural following its predecessors had created. Despite mixed reviews by critics, who tended to praise the visuals and action sequences but criticize the writing, characterization and acting, it grossed $924.3 million worldwide during its initial run in theaters, making it the highest-grossing Star Wars film (unadjusted for inflation). A 3D reissue was released in February 2012, which has earned an additional $102.7 million at the box office, bringing the film's overall worldwide total to over $1 billion, making it the 12th highest-grossing film of all time.</p>

</body>
</html>
