<!DOCTYPE html>
<html>

<head>
  <title>File Explorer</title>
  <meta charset="utf-8">
</head>

<body>

  <h1>{% if raw_path %}
    {{ type.title() }}: {{ raw_path }}
  {% else %}
    File Explorer
  {% endif %}</h1>

  {% if settings.DEBUG %}
  <pre>Full path: {{ path }}</pre>
  {% endif %}

  {% if type == "file" %}
  <pre>{{ content }}</pre>
  {% else %}
  <ul>
    {% if parent is defined %}<li><a href="{{ reverse("explorer", parent) }}">..</a></li>{% endif %}
    {% for child in children %}
    <li>
      {% if child.type == "directory" %}<a href="{{ reverse("explorer", child.url) }}">{% endif %}
      {{ child.name }}
      {% if child.type == "directory" %}</a>{% endif %}
    </li>
    {% endfor %}
  </ul>
  {% endif %}

</body>

</html>
