<!DOCTYPE html>
<html>
<head>
  <title>Star Wars</title>
  <meta charset="utf-8">
  <link href="{{ reverse("static", "css/the_empire_strikes_back.css") }}" media="screen,projection,tv" rel="stylesheet" type="text/css">
</head>

<body>

  <h1><a href="{{ reverse("index") }}">Star Wars</a></h1>
  <h2>{{ title|the_empire_strikes_back }}</h2>
  <hr>
  <p>Star Wars Episode V: The Empire Strikes Back (also known as The Empire Strikes Back) is a 1980 American epic space opera film directed by Irvin Kershner and written by Leigh Brackett and Lawrence Kasdan, with George Lucas writing the film's story and serving as executive producer. Of the six main Star Wars films, it was the second to be released and the fifth in terms of internal chronology.</p>

  <p>The film is set three years after the original Star Wars. The Galactic Empire, under the leadership of the villainous Darth Vader, is in pursuit of Luke Skywalker and the rest of the Rebel Alliance. While Vader chases a small band of Luke's friends—Han Solo, Princess Leia Organa, and others—across the galaxy, Luke studies the Force under Jedi Master Yoda. But when Vader captures Luke's friends, Luke must decide whether to complete his training and become a full Jedi Knight or to confront Vader and save his comrades.</p>

  <p>Following a difficult production, The Empire Strikes Back was released on May 21, 1980, and initially received mixed reviews from critics, although it has since grown in esteem, becoming the most critically acclaimed chapter in the Star Wars saga and one of the most highly-rated films in history.[3][4][5][6] It earned more than $538 million worldwide over the original run and several re-releases, making it 1980's highest-grossing film. When adjusted for inflation, it is the twelfth-highest-grossing film in the U.S. and Canada as of 2012.[7]</p>

  <p>In 2010, the film was selected for preservation in the National Film Registry by the Library of Congress for being "culturally, historically, and aesthetically significant."</p>

</body>
</html>
