<!DOCTYPE html>
<html>
<head>
  <title>Star Wars</title>
  <meta charset="utf-8">
  <link href="{{ reverse("static", "css/a_new_hope.css") }}" media="screen,projection,tv" rel="stylesheet" type="text/css">
</head>

<body>

  <h1><a href="{{ reverse("index") }}">Star Wars</a></h1>
  <h2>{{ a_new_hope }}</h2>
  <hr>
  <p>Star Wars Episode IV: A New Hope, originally released as Star Wars,[3] is a 1977 American epic space opera film[4] written and directed by George Lucas. It is the first film released in the Star Wars saga and is the fourth installment in terms of the series' internal chronology. Groundbreaking in its use of special effects, unconventional editing, and science fiction/fantasy storytelling, the original Star Wars is one of the most successful and influential films of all time.</p>

  <p>Set "a long time ago in a galaxy far, far away", the film follows a group of freedom fighters known as the Rebel Alliance as they plot to destroy the powerful Death Star space station, a devastating weapon created by the evil Galactic Empire. This conflict disrupts the isolated life of farmboy Luke Skywalker when he inadvertently acquires the droids carrying the stolen plans to the Death Star. After the Empire begins a cruel and destructive search for the droids, Skywalker decides to accompany Jedi Knight Obi-Wan Kenobi on a daring mission to rescue the owner of the droids, rebel leader Princess Leia, and save the galaxy.</p>

  <p>Produced with a budget of $11 million and released on May 25, 1977, the film earned $460 million in the United States and $314 million overseas, surpassing Jaws as the nominal highest-grossing film and remained that way until being surpassed by E.T. the Extra Terrestrial in 1982. When adjusted for inflation, it is the second highest grossing film in the US and Canada and is the third highest-grossing in the world as of 2012. Among the many awards the film received, it gained ten Academy Award nominations, winning six; the nominations included Best Supporting Actor for Alec Guinness and Best Picture. The film is often ranked among the best films of all time. Lucas has re-released the film on several occasions, sometimes with significant changes; the most notable versions are the 1997 Special Edition, the 2004 DVD release, and the 2011 Blu-ray release, which have modified computer-generated effects, altered dialogue, and added scenes.</p>

</body>
</html>
