defaults:
  run:
    shell: "bash"

name: "Create Release PR"

on:
  workflow_dispatch:
    inputs:
      args:
        description: "Badabump arguments (pass `--pre` to start or keep pre-release cycle)"
        required: false
        default: ""

env:
  PYTHONUNBUFFERED: "1"

jobs:
  create_release_pr:
    name: "Create Release PR"

    runs-on: "ubuntu-latest"

    steps:
      - uses: "actions/checkout@v3.1.0"
        with:
          ref: "main"

      - name: "Fetch git tags"
        run: |
          set -euo pipefail

          git fetch --depth=1 origin +refs/tags/*:refs/tags/* || :
          git fetch --prune --unshallow

      - uses: "./.github/actions/install_badabump"

      - id: "badabump"
        name: "Run badabump"
        run: "badabump --ci ${{ github.event.inputs.args }}"

      - id: "token"
        uses: "tibdex/github-app-token@v1.7"
        with:
          app_id: "${{ secrets.BADABUMP_APP_ID }}"
          private_key: "${{ secrets.BADABUMP_APP_PRIVATE_KEY }}"

      - name: "Create pull request with changed files"
        uses: "peter-evans/create-pull-request@v4.2.3"
        with:
          token: "${{ steps.token.outputs.token }}"
          commit-message: |
            ${{ steps.badabump.outputs.pr_title }}

            ${{ steps.badabump.outputs.changelog }}
          branch: "${{ steps.badabump.outputs.pr_branch }}"
          delete-branch: true
          title: "${{ steps.badabump.outputs.pr_title }}"
          body: "${{ steps.badabump.outputs.changelog }}"
          labels: "chore"
          reviewers: "playpauseandstop"
          assignees: "playpauseandstop"
